@model PlacesMVCpractice.Models.Vacation
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail Page</h2>
<div class="detailDisplay">
    <H1> @Model.PlaceName</H1>
    <div class="product-data">
        
        <H2 class="description">@Model.Description</H2>
    </div>
    <a href="@Url.Action("Detail", "Vacation", new { id = Model.Id })">
        <img id="detailImage"src="@Url.Content("~/Content/" + Model.ImageName)" width="500" align="middle"/>
    </a>

    
</div>